@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.container {
  width: 100;
  /* margin: 0 auto; */
  /* background: #fff; */
  background-size: cover;
  background-repeat: no-repeat;
}

#title {

  background-size: contain;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 3.75rem;
  letter-spacing: -2px;
  font-family: sans-serif;
  /* text-align: center; */
  text-shadow: 0 0 1px rgba(0,0,0,.1);
  margin: 0;
  padding: 0;
}


